.contact-block {
  background: $general-white;

  .contact__info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0px 104px 0px;

      .col__icons {
        width: 25%;
        margin: 0px 12px 0px 12px;
        padding: 0px 12px 0px 12px;
      }
    }

    .contact--tel {
      margin: 0px 0px 8px 0px;
      text-align: left;

      & a {
        color: $main-black;
      }
    }

    .contact--mail {
      text-align: left;

      & a {
        text-decoration: solid 1px;
        color: $main-black;
      }
    }
  }
}