.contact-block {
  background: $general-white;

  .contact__info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row--icons {
      margin: 50px -16px 104px -16px;

      .col__icons {
        flex: 0 1 25%;
        margin: 0px 12px 0px 12px;
        padding: 0px 16px;
      }
    }

    .contact--tel {
      margin: 0px 0px 8px 0px;
      text-align: left;

      & a {
        color: $main-black;
      }
    }

    .contact--mail {
      & a {
        text-decoration: solid 1px;
        color: $main-black;
      }
    }
  }
}