.lang-block {
  background: $secondary-white;

  @media (max-width: 767px) {
    .row--lang {
      justify-content: center;
      margin: 0px -16px 40px -16px;
    }
  }

  .col-lang {
    flex: 0 1 33.333%;
    padding: 0px 16px;
    margin-bottom: 40px;
    @extend %flex-c;
    flex-direction: column;

    .svg-lang-wrap {
      margin-bottom: 24px;
    }

    .lang-text {
      margin-bottom: 8px;

      &--main {
        font-weight: 600;
      }
    }
  }
}