main {
  background: $general-white;

  .container--main-page {
    padding: 230px 16px 72px 16px;

    @media (max-width: 768px) {
      padding: 150px 16px 72px 16px;
    }

    .row--main {
      margin: 0 -6px;

      @media (max-width: 1024px) {
        .row--main {
          flex-direction: column;
        }
      }

      .col__main-page {
        flex: 0 1 50%;
        padding: 0 6px;

        @media (max-width: 1024px) {
          & {
            flex: 0 1 100%;
            margin: 0px 0px 40px 0px;
          }

          &:nth-of-type(1) {
            order: 2;
          }

          &:nth-of-type(2) {
            order: 1;
          }
        }
      }

      .heading--position {
        text-align: left;
        margin-bottom: 0px;
      }

      .heading--grey {
        margin: 8px 0px 40px 0px;
        color: $grey;
      }

      .main-page__info-text {
        font-size: 22px;
        line-height: 26px;
        color: $secondary-black;
        margin-bottom: 72px;

        &:first-of-type {
          margin-bottom: 22px;
        }
      }
    }
  }
}